<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <body>

    {%- include header.html -%}

    <!-- Theme Toggle Button -->
    <button id="theme-toggle" class="theme-btn">
      Change Theme
    </button>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Footnotes JS -->
    <script src="{{ '/assets/js/footnotes.js' | relative_url }}"></script>

    <!-- Theme Toggle JS -->
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
    
  </body>

</html>
